{% extends 'static/index.html' %}

{% block title %}
TPI+333=t3p3i3
{% endblock %}

{% block content %}
<img src="photo_2023-02-06_20-08-21.jpg" align="center" >
t3p3i3 это есть три аспекта единого, встретившись на необъятных просторах бесконечных полей и бушующих волн океана неповторимого опыта,
который подобно отсеченной голове козы или спелому плоду бильвы,
преподносится в дар единому пространству и разуму, духу и материи,
словно бесчисленное число фотонов в пучке света, находясь в безостановочном движение сквозь время,
распадаясь и снова сливаясь в одну точку, в одно солнце, отражаемое в бесчисленных волнах мирового океана.

{% endblock %}


